@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,400&display=swap');

/* Mobile */
@media (max-width: 760px) {
  /* Make margins not dramatic */
  .app {
    margin: 0 auto !important;
    width: 80% !important;
  }

  .alexcyphus {
    font-size: 10vw !important;
    margin: 0 !important;
  }

  .outer-header {
    height: 13vh !important;
  }

  .outer-content {
    height: 65vh !important;
  }

  .inner-content {
    font-size: min(4vw, 2.5vh) !important;
  }

  .headings {
    display: none !important;
  }

  .inner-actions {
    font-size: 2vw !important;
  }

  .project-box-content {
    font-size: max(3vw, 1.7vh) !important;
  }

  .project-title {
    font-size: max(3vw, 3vh) !important;
  }

  .emoji {
    font-size: max(4.5vw, 4.5vh) !important;
  }

  .overlay {
    margin: auto;
    max-width: 85%;
  }

  .x {
    font-size: 15vw !important;
    margin: -10px 10px 10px 10px !important;
  }
}

@media (max-width: 580px) {
  .inner-actions {
    font-size: min(5vw, 2.5vh) !important;
  }
  .outer-footer {
    height: 5vh !important;
  }
  .outer-actions {
    height: 17vh !important;
  }
  .action {
    padding: 5px;
  }
  .overlay {
    margin: auto;
    max-width: 100%;
  }
  .inner-project-box {
    padding: 15px 20px 15px 20px !important;
  }
}


.app {
  font-family: 'IBM Plex Mono', monospace;
  color: black;
  height: 100vh;
  margin: 0 20vw;
  max-width: 75%;
  font-size: max(1.5vw, 2.5vh);
}

.outer-header {
  height: 22vh;
  margin: auto;
}

.alexcyphus {
  font-size: 5.7vw;
}

.brd {
  border-bottom: 1px dashed black;
}

.headings {
  font-size: 1.7vw;
}

.outer-content {
  height: 55vh;
}

.inner-content {
  margin: auto;
}

.outer-actions {
  height: 12vh;
}

.outer-footer {
  height: 10vh;
  font-size: max(1vw, 1.4vh);
}

/* Colors */
.blue {color: #49B6FF}
.yellow {color: #F3CA40}
.red {color: #FF7272}
.purple {color: #C49CA7}
.green {color: #80BE8C}

.sm-font {
  font-size: 3vw;
}

/* Overlay */
.overlay {
  width: 100%;
  height: 100%;
  background-color: white;
}

.clickable {
  cursor: pointer;
}

.outer-project-box {
  height: 40vh;
  display: flex;
  padding: 25px;
}

.inner-project-box {
  width: 100%;
  border: 1px black solid;
  border-radius: 15px;
  padding: 15px 50px 15px 50px;
  -webkit-box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
  -moz-box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
  box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
}

.inner-project-box:hover {
		background-color: #242424;
    color: #fff;
		cursor: pointer;
}

.project-box-content {
  text-align: left;
  height: 70%;
  font-size: max(1.2vw, 1.7vh);
  display: flex;
}

.project-box-content p {
  margin: 0;
  padding: 5px 0;
}

.project-box-header {
  width: 100%;
  height: 30%;
  display: flex;
}

.emoji {
  display: inline;
  text-align: left;
  width: 20%;
  font-size: 3vw;
  margin: auto 0;
}

.project-title {
  display: inline;
  text-align: right;
  width: 80%;
  margin: auto 0;
  font-size: min(1.7vw, 2.8vh);
}

.x {
  position: fixed;
  left: 0%;
  top: 0%;
  margin: 20px 100px;
  font-size: 75px;
  font-weight: bold;
}

.outer-image {
  width: 100%;
  display: flex;
  margin: 10px 0;
  padding: 15px;
}

.inner-image {
  margin: 10px auto;
  width: auto;
  max-height: 50vh;
  max-width: 100%;
}

.article-content {
  padding: 20px 0px;
  font-size: max(16px, 1vw);
}

.article-header {
  font-size: max(3vw, 3vh);
  padding: 8px;
  margin: 0
}

.article-description {
  font-size: max(20px, 1.5vw);
  padding: 8px;
  margin: 0
}

.article-link {
  background: #E0E0E0;
  padding: 3px;
  cursor: pointer;
  color: black;
  border-radius: 8px;
  text-decoration: none;
}

.article-link:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.drop-shadow {
  -webkit-box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
  -moz-box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
  box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
}

.image-description {
  font-size: 1.8vh;
}

.inner-article-navigation {
  width: 100%;
  font-size: 2.2vh;
}

.outer-article-navigation {
  padding: 30px 0px;
}

.tn {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 0 10px;
}

.tn:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.outer-card {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.black-background {
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-x:hidden;
}

.inner-card {
  height: 50vw;
  max-height: 350px;
  width: 80vw;
  max-width: 600px;
  background-color: white;
  z-index: 3;
  border-radius: 30px;
}
