@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,400&display=swap');

/*Just use viewheights lmao*/

.app {
  font-family: 'IBM Plex Mono', monospace;
  color: black;

  height: 100vh;
  margin: 0 20vw;
  max-width: 75%;
  font-size: 1.65vw;
}

.outer-header {
  height: 22vh;
}

.inner-header {

}

.alexcyphus {
  font-size: 6vw;
  padding: 10px;
  margin: 0;
}

.brd {
  border-bottom: 1px dashed black;
}

.headings {
  font-size: 1.7vw;
}

.outer-content {
  height: 55vh;
}

.inner-content {
  margin: auto;
}

.outer-actions {
  height: 12vh;
}

.outer-footer {
  height: 10vh;
  font-size: 15px;
}

/* Mobile */
@media (max-width: 760px) {
  /* Make margins not dramatic */
  .app {
    margin: 3% 5% 1% 5%;
    font-size: 15px;
  }

  .alexcyphus {
    font-size: 5vw;
  }

  .outer-content {
    height: 67vh;
  }

  .outer-header {
    height: 10vh;
  }

  .headings {
    display: none;
  }
}

/* Colors */
.blue {color: #49B6FF}
.yellow {color: #F3CA40}
.red {color: #FF7272}
.purple {color: #C49CA7}
.green {color: #80BE8C}

.sm-font {
  font-size: 3vw;
}

/* Overlay */
.overlay {
  width: 100%;
  height: 100%;
  background-color: white;
}

.clickable {
  cursor: pointer;
}

.outer-project-box {
  height: 37vh;
  display: flex;
  padding: 25px;
}

.inner-project-box {
  width: 100%;
  border: 1px black solid;
  border-radius: 15px;
  padding: 15px 50px 15px 50px;
  -webkit-box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
  -moz-box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
  box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
}

.inner-project-box:hover {
		background-color: #242424;
    color: #fff;
		cursor: pointer;
}

.inner-project-box-container {

}

.project-box-content {
  text-align: left;
  height: 70%;
  font-size: 1.3vw;
  display: flex;
}

.project-box-header {
  width: 100%;
  height: 30%;
  display: flex;
}

.emoji {
  display: inline;
  text-align: left;
  width: 20%;
  font-size: 3vw;
  margin: auto 0;
}

.project-title {
  display: inline;
  text-align: right;
  width: 80%;
  margin: auto 0;
  font-size: 2vw;
}

.x {
  position: fixed;
  left: 0%;
  top: 0%;
  margin: 20px 100px;
  font-size: 75px;
  font-weight: bold;
}
