@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,400&display=swap');

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  max-width: 1600px;
  font-family: 'IBM Plex Mono', monospace;
  @media (min-width: 768px) {
    overflow-y: hidden; 
  }
  overflow-x: hidden;

  .header-image {
    height: 16vh;
    padding: 35px;
  }

  .outer-container {
    height: 80vh;
    margin: 0 calc(min(45px, 1vw));
    padding: 0 10px;

    .inner-content-container {
      overflow-y: hidden;
      padding: 0 40px 15px 40px;
      
      @media (min-width: 768px) {
        max-height: 80vh;
      }

      &.text {
        padding: 0 40px;
      }
    }
  }
}

.main-text-outer {
  font-size: calc(max(15px, 1.5vw));
  height: calc(100% - 33px);
  line-height: 200%;
}

.main-text-container {
  p {
    padding-bottom: 15px;
  }
}

.project-box-container {
  @media (min-width: 768px) {
    max-height: 80vh;
    overflow-y: scroll;
  }
  
  overflow-x: hidden;

  .col-md-6 {
    @media (min-width: 768px) {
      padding: 0 0 10px 0;
    }
  }

  .outer-project-box {
    margin: 20px 7px 0px 7px;
  }
  
}

/* Colors */
.blue {color: #49B6FF}
.yellow {color: #F3CA40}
.red {color: #FF7272}
.purple {color: #C49CA7}
.green {color: #80BE8C}

.sm-font {
  font-size: 3vw;
}

.clickable {
  cursor: pointer;
}



.inner-project-box {
  border: 1px black solid;
  background-color: white;
  border-radius: 15px;
  padding: 15px 30px 15px 30px;
  -webkit-box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
  -moz-box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
  box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
}

.inner-project-box:hover {
		background-color: #242424;
    color: #fff;
		cursor: pointer;
}

.project-box-content {
  text-align: left;
  height: 70%;
  font-size: calc(max(0.9vw, 1.4vh));
  display: flex;
}

.project-box-header {
  width: 100%;
  height: 30%;
  display: flex;
  font-weight: bolder;
}

.emoji {
  display: inline;
  text-align: left;
  width: 20%;
  font-size: calc(max(15px, 2.5vw));
  margin: auto 5px 0 0
}

.project-title {
  display: inline;
  text-align: right;
  flex-wrap: wrap;
  width: 80%;
  margin: auto 0;
  font-size: calc(max(0.9vw, 1.4vh))
}

.outer-image {
  width: 100%;
  display: flex;
  margin: 10px 0;
  padding: 15px;
}

.inner-image {
  margin: 10px auto;
  width: auto;
  max-height: 50vh;
  max-width: 100%;
}

.article-content {
  padding: 20px 0px;
  font-size: 16px !important;
}

.article-header {
  font-size: calc(max(3vw, 3vh));
  padding: 8px;
  margin: 0
}

.article-description {
  font-size: calc(max(20px, 1.5vw));
  padding: 8px;
  margin: 0
}

.article-link {
  background: #E0E0E0;
  padding: 3px;
  cursor: pointer;
  color: black;
  border-radius: 8px;
  text-decoration: none;

  &.white-link {
    background-color: white;
  }
}

.article-link:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.drop-shadow {
  -webkit-box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
  -moz-box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
  box-shadow: 10px 10px 10px -4px rgba(163,163,163,1);
}

.drop-shadow-black {
  -webkit-box-shadow: 10px 10px 10px -4px black;
  -moz-box-shadow: 10px 10px 10px -4px black;
  box-shadow: 10px 10px 10px -4px black;
}

.image-description {
  font-size: 1.8vh;
}

.inner-article-navigation {
  width: 100%;
  font-size: 2.2vh;
}

.outer-article-navigation {
  padding: 30px 0px;
}

.tn {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 0 10px;
}

.tn-2 {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.tn-2:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.tn:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.outer-card {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  font-family: 'IBM Plex Mono', monospace;
}

.black-background {
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-x:hidden;
}

.inner-card {
  height: 50vw;
  max-height: 350px;
  width: 80vw;
  max-width: 600px;
  background-image: url('/card-background.png');
  background-size: cover;
  z-index: 3;
  border-radius: 20px;
}

#close-card {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  padding: 0px 25px;
}

#close-card-row {
  position: absolute !important;
  justify-content: flex-end;
  max-width: 600px !important;
  width: 80vw !important;
  display: flex;
}

#my-face {
  width: 25vw;
  height: 25vw;
  max-height: 250px;
  max-width: 250px;
  border-radius: 5000px;
}

.biz-card-link {
  font-size: 15px;
  margin-left: 0;
}

#my-name {
  font-weight: bold;
  font-size: 25px;

}

.inner-card {
  padding: 0;
}


.inner-inner-card {
  margin-left: 0;
  margin-right: 0;
}

#links {
  right: 30px;
}

.pushed-in {
  margin-left: 10px;
}

@media (max-width: 500px) {
 .inner-content-container {
   padding: 0 !important;
 } 
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.blob {
  width: 1595px;
  height: 1500px;
  background-size: cover;
  background-repeat: no-repeat;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  transform: rotate(-142deg);
  animation-name: spin;
}

#blob-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%221225%22 height=%221153%22 viewBox=%220 0 1225 1153%22%3E%3Cpath fill=%22%23FF8080%22 fill-rule=%22evenodd%22 d=%22M9.523914 565.250887C-29.4006228 364.699441 64.4040448 138.655918 275.141781 66.5250406c86.418836-29.5792609 239.096965-71.08571 355.906407-65.46260589C736.736573 6.15018088 816.123931 6.46728379 949.220016 84.2862185 1112.04729 179.488455 1147.93112 289.655433 1215.94332 529.325517 1268.27944 713.754228 1065.38794 925.672965 987.629403 978.467611c-75.537807 51.286869-207.011199 161.093519-312.368499 171.708799C533.313704 1164.47832 417.073466 1110.44243 301.706715 1038.14248 169.53964 955.313832 75.2329583 903.804533 9.523914 565.250887z%22/%3E%3C/svg%3E");
  left: 50vw;
  bottom: 35vh;
  animation-duration: 20s;
  overflow-x: hidden;

}

#blob-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%221225%22 height=%221153%22 viewBox=%220 0 1225 1153%22%3E%3Cpath fill=%22%2380A3FF%22 fill-rule=%22evenodd%22 d=%22M9.523914 565.250887C-29.4006228 364.699441 64.4040448 138.655918 275.141781 66.5250406c86.418836-29.5792609 239.096965-71.08571 355.906407-65.46260589C736.736573 6.15018088 816.123931 6.46728379 949.220016 84.2862185 1112.04729 179.488455 1147.93112 289.655433 1215.94332 529.325517 1268.27944 713.754228 1065.38794 925.672965 987.629403 978.467611c-75.537807 51.286869-207.011199 161.093519-312.368499 171.708799C533.313704 1164.47832 417.073466 1110.44243 301.706715 1038.14248 169.53964 955.313832 75.2329583 903.804533 9.523914 565.250887z%22/%3E%3C/svg%3E");
  right: 60vw;
  top: 50vh;
  animation-duration: 30s;
}

.blobholder {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  overflow:hidden;
}